Repository CycloneDX/homebrew-cyclonedx, changes with the owners that CODEOWNERS names for each.
All owners: @CycloneDX/maintainers, @CycloneDX/net-maintainers, @CycloneDX/go-maintainers

CODEOWNERS:

# all maintainers are default-reviewers of new pull requests.
# see https://github.com/orgs/CycloneDX/teams/maintainers
*  @CycloneDX/maintainers

Formula/cyclonedx-cli.rb              @CycloneDX/maintainers @CycloneDX/net-maintainers
.github/scripts/update-formula/cli/*  @CycloneDX/maintainers @CycloneDX/go-maintainers

Formula/cyclonedx-gomod.rb              @CycloneDX/maintainers @CycloneDX/go-maintainers
.github/scripts/update-formula/gomod/*  @CycloneDX/maintainers @CycloneDX/go-maintainers

ci
  .github/workflows/test-formulae.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers

ci
  .github/workflows/test-formulae.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers

formulae fix
  Formula/cyclonedx-cli.rb
  Formula/cyclonedx-gomod.rb
Owners: @CycloneDX/maintainers, @CycloneDX/net-maintainers, @CycloneDX/go-maintainers

comm
  .github/workflows/test-formulae.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers

templates
  .github/scripts/update-formula/cli/template.rb
  .github/scripts/update-formula/gomod/template.rb
Owners: @CycloneDX/maintainers, @CycloneDX/go-maintainers

tests: run weekly
  .github/workflows/test-formulae.yml
Owners: @CycloneDX/maintainers

build: fix fix&audit in workflows
  .github/workflows/test-formulae.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers

docs
  .github/workflows/test-formulae.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers

chore: auto matically bump versions
  .github/scripts/update-formula/cli/gen.sh
  .github/scripts/update-formula/cli/latest.sh
  .github/scripts/update-formula/gomod/gen.sh
  .github/scripts/update-formula/gomod/latest.sh
  .github/workflows/detect_latest_releases.yml
  .github/workflows/update-formula.yml
Owners: @CycloneDX/maintainers, @CycloneDX/go-maintainers

Add pull request template for contributor guidance
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @CycloneDX/maintainers

Add pull request template for contributor guidance (#49)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @CycloneDX/maintainers
